* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}

body {
	background-color: white;
	padding: 4px;
	width: 256px;
}

input[type="submit"], input[type="url"] {
	box-sizing: border-box;
	margin: 4px 0;
	padding: 8px;
	width: 100%;
}

input[type="submit"] {
	background-color: #00AAFF;
	border: none;
	color: white;
	cursor: pointer;
	outline: none;
}

input[type="submit"]:hover {
	background-color: #33BBFF;
}

input[type="submit"]:active {
	background-color: #0088CC;
}